* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

main {
	min-height: 100vh;
	width: 100%;
}

.content {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.btn {
	padding: 2vh 2vw;
	background-color: #ff0000;
	color: #fff;
	font-size: 3vh;
	cursor: pointer;
	border: none;
	border-radius: 2vh;
}

table {
	width: 80vh;
}

table, td, tr {
	border: 1px solid black;
}